#showcase{
	background-image: url("../assets/backgrounds/h_img.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	color: white;
	height: 80vh;
	padding-top: 300px;
}
#mouse{
	padding-top: 120px;
}

#service{
	background-image: url('../assets/backgrounds/s_image.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	color: white;
	padding: 100px;
}

#designInfo, #developmentInfo, #productInfo{
	display: none;
}
#contact{
	background-image: url('../assets/backgrounds/c_image.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	height: 50vh;
}

input[type=text], input[type=email], #message{
	background: transparent;
}
.form-control::-webkit-input-placeholder{
	color: white;
}

#overlay1, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8{
	width: 200px;
	height: 200px;
	margin: auto;
	color: white;
	font-weight: bold;
	font-size: 15px;
	padding: 50px;
	border: 5px solid white;
	background-color: rgba(10, 10, 10, 0.4);
	display: none;
}